---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Myprojects">
	<main>
		<h1>Myprojects</h1>
		<p>
			Welcome to the Myprojects page. Here you can find links to my projects.
		</p>
		<ul>
			<li><a href="/projects/project-1">Project 1</a></li>
			<li><a href="/projects/air_force">Aviation Project</a></li>
		</ul>
	</main>
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		border: 1px solid transparent;
	}
	.astro-a:hover {
		border: 1px solid white;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0 0 2rem 0;
	}
	.prose {
		margin: 0;
	}
	.prose > :first-child {
		margin-top: 0;
	}
	main > :first-child {
		margin-top: 0;
	}
	main > :last-child {
		margin-bottom: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 1rem;
	}
	li {
		margin: 0;
		padding: 0;
	}
	a {
		display: block;
		padding: 1rem;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 0.5rem;
		text-decoration: none;
		color: white;
	}
	a:hover {
		background: rgba(255, 255, 255, 0.2);
	}
	.title {
		margin: 0;
		font-size: 1.5rem;
		font-weight: 600;
	}
	.date {
		margin: 0.5rem 0 0 0;
		font-size: 1rem;
		font-weight: 400;
	}
</style> 