---
import BaseLayout from '../../layouts/ProjectsPost.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import FormattedDate from '../../components/FormattedDate.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="Projects">
  <main>
    <h1>Projects</h1>
    <section>
      <ul style="display: flex; flex-wrap: wrap; gap: 2rem; list-style-type: none; margin: 0; padding: 0;">
        {
          projects.map((project) => (
            <li style="width: calc(50% - 1rem);">
              <a href={`/projects/${project.id}/`} style="display: block; text-decoration: none;">
                {project.data.heroImage && (
                  <Image width={720} height={360} src={project.data.heroImage} alt="" style="margin-bottom: 0.5rem; border-radius: 12px;" />
                )}
                <h4 class="title" style="margin: 0; line-height: 1;">{project.data.title}</h4>
                <p class="date" style="margin: 0;"> <FormattedDate date={project.data.pubDate} /> </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout> 